*~
*.out
*.err
*.log

*.swp
nextflow
.ipynb_checkpoints
*~
edgeR_*

*.pptx
*.xls
*.xlsx

fastq/
counts/
*.db

*.html
".sw*
*_files
*_cache

.Rproj.user
.Rhistory
.RData
.Ruserdata

~$*
biokit*

__pycache__
*.pyc

.snakemake

fastq*
mpsnake
.ipynb_checkpoints

*.pdf
ribios.dump.rda

raw/
cache/
analyzed/
raw_feature_bc_matrix

arv/
None-requirements.txt
pseudobulk
